---
import Root from "../layout/root.astro";
const data = [
    {
        start: new Date('2024-06-01'),
        end: new Date('2024-06-07'),
        tasks: [
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
            'Proin ornare nulla at fermentum tincidunt',
            'Curabitur tempor turpis vitae dolor cursus, nec condimentum odio sagittis',
            'Vivamus eget ligula eget quam convallis iaculis sed non sapien',
            'Ut consectetur velit consequat purus pretium, eget condimentum nulla dapibus',
            'Aliquam vel sem sed ligula tincidunt scelerisque ac ac nisi',
        ]
    },
    {
        start: new Date('2024-06-08'),
        end: new Date('2024-06-14'),
        tasks: [
            'Praesent sagittis risus et nunc ornare, eu vehicula massa tincidunt',
            'Aliquam fringilla massa ac leo eleifend interdum',
            'Maecenas vel lorem luctus, interdum nisl a, auctor quam',
            'Pellentesque bibendum magna nec turpis posuere tincidunt',
        ]
    },
    {
        start: new Date('2024-06-15'),
        end: new Date('2024-06-21'),
        tasks: [
            'Nunc feugiat nisl nec turpis tristique, id tincidunt sem venenatis',
            'Nam molestie justo in posuere laoreet',
        ]
    }
]
const requestedWeekIndex = Number(Astro.url.searchParams.get('week') || '1') - 1;
const lastWeekIndex = data.length - 1;
const currentWeekIndex = Math.max(0, Math.min(requestedWeekIndex, lastWeekIndex))
const prevWeekHref = currentWeekIndex - 1 >= 0 ? '?week=' + (currentWeekIndex) : undefined;
const nextWeekHref = currentWeekIndex + 1 <= lastWeekIndex ? '?week=' + (currentWeekIndex + 2) : undefined;
const paginationClasses = "grid gap-2 " + (prevWeekHref && nextWeekHref ? 'grid-cols-2' : 'grid-cols-1')
const week = data[currentWeekIndex]
---
<Root>
    <main class="flex flex-col gap-4 items-center">
        <h1 class="text-3xl text-base-content">
            Planner
        </h1>
        <section class="card min-h-96 bg-accent text-accent-content shadow-xl">
            <div class="card-body">
                <h2 class="card-title text-accent-content">
                    {week.start.toDateString()}
                    -
                    {week.end.toDateString()}
                </h2>
                <ul class="list-disc">
                    {week.tasks.map(t =>
                            <li>{t}</li>)}
                </ul>
            </div>
        </section>
        <div class={paginationClasses}>
            {prevWeekHref && (
                    <a role="button" href={prevWeekHref} class="btn btn-neutral">Previous</a>
            )}
            {nextWeekHref && (
                    <a role="button" href={nextWeekHref} class="btn btn-neutral">Next</a>
            )}
        </div>
    </main>
</Root>
