---
import Root from "../layout/root.astro";
import {BlockService} from "../services/block.service";

const requestedBlockIndex = Number(Astro.url.searchParams.get('block') || '1') - 1;
const {block, previousIndex, nextIndex} = await new BlockService(Astro.cookies).getBlock(requestedBlockIndex)
const prevBlockHref = previousIndex!==undefined ? `?block=${previousIndex + 1}` : undefined;
const nextBlockHref = nextIndex!==undefined ? `?block=${nextIndex + 1}` : undefined;
---
<Root>
    <main class="grid grid-cols-1 items-center max-w-screen-sm mx-auto p-4">
        <section class="card min-h-96 bg-accent text-accent-content shadow-xl">
            <div class="card-body">
                <h2 class="card-title text-accent-content">
                    {block.start}
                    -
                    {block.end}
                </h2>
                <ul class="list-disc">
                    <li>TODO</li>
                </ul>
            </div>
        </section>
        <div class="grid gap-2 grid-cols-2">
            {prevBlockHref && (
                    <a role="button" href={prevBlockHref} class="btn btn-neutral col-start-1">Previous</a>
            )}
            {nextBlockHref && (
                    <a role="button" href={nextBlockHref} class="btn btn-neutral col-start-2">Next</a>
            )}
        </div>
    </main>
</Root>
