---
import {ViewTransitions} from 'astro:transitions';
import {createSupabaseClient} from "../services/supabase.service";
import NavBar from "../components/navbar.astro";
const {title: givenTitle} = Astro.props;
const title = givenTitle || 'Planner'

const client = createSupabaseClient(Astro.cookies)
const {data: {user}} = await client.auth.getUser()
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <ViewTransitions/>
    <title>{title}</title>
</head>
<body class="h-screen bg-base-100 m-4">
<NavBar avatarUrl={user?.user_metadata?.avatar_url} name={user?.user_metadata?.full_name} />
<slot />
</body>
</html>
